#endWinScreen,
#endLoseScreen {
    display: none;
}

.edgeScreen {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-color: #389DC5;
}

.splat {
    position: absolute;
    left: 10px;
    top: 2%;
}

.endSplat {
    left: 0;
}

#startScreen h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 130px;
    position: absolute;
    top: 32%;
    left: 220px;
}

#startScreen h3 {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    width: 40%;
    text-align: center;
    line-height: 1.5;
    left: 1020px;
    top: 600px;
}

.button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 50px;
    background-color: #CEECFB;
    border-radius: 40px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.startButton {
    left: 1280px;
    top: 900px;
    padding: 20px 70px;
}

.newPhotosButton {
    left: 1335px;
    top: 470px;
    padding: 20px 40px;
}

.tryAgainButton {
    left: 1355px;
    top: 470px;
    padding: 20px 40px;
}

.exitGameButton {
    padding: 20px 40px;
    left: 1364px;
    top: 610px;
    text-decoration: none;
    color: #000000;
}

#endWinScreen h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 130px;
    position: absolute;
    top: 45%;
    left: 425px;
}

#endLoseScreen h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 130px;
    position: absolute;
    top: 45%;
    left: 450px;
}