.bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../images/bubbleSpriteSheet3.png");
}

.currentBubble {
    left: 740px;
    top: 863px;
}

.bubble0 {
    background-position: 0 0;
}

.bubble1 {
    background-position: 0 -100px;
}

.bubble2 {
    background-position: 0 -200px;
}

.bubble3 {
    background-position: 0 -300px;
}

.bubble4 {
  background-position: 0 -400px;
}


