body {
    background-color: #389DC5;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 77%;
    left: 14.5%;
}

#scoreItems {
    display: flex;
    position: absolute;
    p {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        padding: 20px 30px;
        background-color: #ffffff;
        margin-right: 85px;
        border-radius: 10px;
        flex-direction: row;
        text-align: center;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url('../images/itemSplat.png');
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 0;
            transition: all 400ms;
        }
    }
    .spotted {
        position: relative;
        &::after {
            opacity: 1;
        }
    }
}

.clickableArea {
    position: absolute;
    cursor: pointer;
//    background-color: orange;
    z-index: 20;
    &.spotted {
        //        background-color: rgba(limegreen, 0.5);
        background-image: url(../images/checkmark.png);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

#background1 {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-image: url('../images/background1.png');
    display: none;
    h3 {
        top: 77%;
        left: 14.5%;
    }
    .pictureContainer {
        border: 10px solid #389DC5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .original {
        left: -580px;
        top: -360px;
        transform: scale(.41) rotate(-15deg);
    }
    .edited {
        left: 390px;
        top: -100px;
        transform: scale(.41) rotate(15deg);
    }
    .pushpin1 {
        position: absolute;
        left: 325px;
        top: 50px;
        z-index: 1000;
    }
    .pushpin2 {
        position: absolute;
        left: 1460px;
        top: 308px;
        z-index: 1000;
    }
    .timer {
        position: absolute;
        left: 72%;
        top: 12.5%;
    }
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 120px;
        position: absolute;
        left: 73.66%;
        top: 14%;
        letter-spacing: 23px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 120px;
        position: absolute;
        left: 84%;
        top: 14%;
        letter-spacing: 23px;
    }
    .itemSplat1 {
        position: absolute;
        top: 908.5px;
        left: 130px;
        display: none;
    }
    .itemSplat2 {
        position: absolute;
        top: 908.5px;
        left: 296px;
        display: none;
    }
    .itemSplat3 {
        position: absolute;
        top: 908.5px;
        left: 460px;
        display: none;
    }
    #scoreItems {
        top: 84%;
        left: 6.75%;
    }
}

#background2 {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-color: #99DCF3;
    display: none;
    h3 {
        top: 81%;
        left: 14.5%;
    }
    .pin1 {
        position: absolute;
        top: 64px;
        left: 500px;
        z-index: 2;
        transform: rotate(8deg);
    }
    .pin2 {
        position: absolute;
        top: 75px;
        z-index: 2;
        left: 1290px;
    }
    .pinLine {
        position: absolute;
        top: -100px;
        z-index: 1;
    }
    .pictureContainer {
        border: 10px solid #389DC5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .original {
        left: -570px;
        top: -250px;
        transform: scale(.41) rotate(7deg);
    }
    .edited {
        left: 405px;
        top: -240px;
        transform: scale(.41) rotate(-12deg);
    }
    .timer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0.5%;
    }
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 120px;
        position: absolute;
        left: 41.25%;
        top: 2%;
        letter-spacing: 20px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 120px;
        position: absolute;
        left: 51.5%;
        top: 2%;
        letter-spacing: 22px;
    }
    #scoreItems {
        top: 86%;
        left: 2.75%;
        background-color: #389DC5;
        padding: 20px 0 20px 70px;
        border-radius: 20px;
    }
}

#background3 {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-image: url('../images/background3.png');
    display: none;
    h3 {
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .pictureContainer {
        border: 10px solid #389DC5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .original {
        left: -487px;
        top: -240px;
        transform: scale(.41) rotate(4deg);
    }
    .edited {
        left: 425px;
        top: -179px;
        transform: scale(.41) rotate(-5deg);
    }
    .timer {
        position: absolute;
        left: 16%;
        top: 84%;
        height: 140px;
        z-index: 200;
    }
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 110px;
        position: absolute;
        left: 17.35%;
        top: 85%;
        letter-spacing: 19px;
        z-index: 2000;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 110px;
        position: absolute;
        left: 26.5%;
        top: 85%;
        letter-spacing: 19px;
        z-index: 2000;
    }
    .topLeft {
        position: absolute;
        z-index: 20;
        left: 145px;
        top: 103px;
        width: 40px;
        height: 370px;
        transform: rotate(46.5deg);
        background-color: #319CC7;
    }
    .rightBottom {
        position: absolute;
        z-index: 20;
        left: 1662px;
        top: 474px;
        height: 650px;
        transform: rotate(48.2deg);
        width: 39px;
        background-color: #319CC7;
    }
    .middleRight {
        position: absolute;
        z-index: 20;
        left: 1154px;
        top: 172px;
        width: 39px;
        transform: rotate(46.5deg);
        height: 480px;
        background-color: #319CC7;
    }
    #scoreItems {
        top: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #389DC5;
        padding: 20px 0 20px 70px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        z-index: 200;
    }
}