#background1 {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-image: url('../images/background1.png');
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        position: absolute;
        top: 77%;
        left: 14.5%;
    }
    p {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        padding: 20px 30px;
        background-color: #ffffff;
        margin-right: 85px;
        border-radius: 10px;
    }
    .pictureContainer {
        border: 10px solid #389DC5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .edited {
        left: -580px;
        top: -360px;
        transform: scale(.41) rotate(-15deg);
    }
    .original {
        left: 390px;
        top: -100px;
        transform: scale(.41) rotate(15deg);
    }
    .pushpin1 {
        position: absolute;
        left: 325px;
        top: 50px;
        z-index: 1000;
    }
    .pushpin2 {
        position: absolute;
        left: 1460px;
        top: 308px;
        z-index: 1000;
    }
    .timer {
        position: absolute;
        left: 72%;
        top: 12.5%;
    }
    #scoreItems {
        display: flex;
        position: absolute;
        top: 84%;
        left: 6.75%;
    }
    p {
        flex-direction: row;
    }
    .clickableArea {
        position: absolute;
        cursor: pointer;
        background-color: orange;
    }
    .itemSplat1 {
        position: absolute;
        top: 908.5px;
        left: 130px;
        display: none;
    }
    .itemSplat2 {
        position: absolute;
        top: 908.5px;
        left: 296px;
        display: none;
    }
    .itemSplat3 {
        position: absolute;
        top: 908.5px;
        left: 460px;
        display: none;
    }
}

#background2 {
    position: absolute;
    height: 1080px;
    width: 1920px;
    background-color: #99DCF3;
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        position: absolute;
        top: 77%;
        left: 14.5%;
    }
    .pins {
        position: absolute;
        top: -22px;
        z-index: 1;
    }
    .pictureContainer {
        border: 10px solid #389DC5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        position: absolute;
    }
    .edited {
        left: -580px;
        top: -220px;
        transform: scale(.41) rotate(7deg);
    }
    .original {
        left: 405px;
        top: -200px;
        transform: scale(.41) rotate(-12deg);
    }
    .timer {
        position: absolute;
        left: 72%;
        top: 12.5%;
    }
    #scoreItems {
        display: flex;
        position: absolute;
        top: 84%;
        left: 6.75%;
        background-color: #389DC5;
        padding: 20px 0 20px 80px;
        border-radius: 20px;
    }
    .clickableArea {
        position: absolute;
        cursor: pointer;
        background-color: orange;
        z-index: 20;
    }
    .itemSplat1 {
        position: absolute;
        top: 908.5px;
        left: 130px;
        display: none;
    }
    .itemSplat2 {
        position: absolute;
        top: 908.5px;
        left: 296px;
        display: none;
    }
    .itemSplat3 {
        position: absolute;
        top: 908.5px;
        left: 460px;
        display: none;
    }
}