<!DOCTYPE html>
<html>

<head>{% include head.html %}</head>

<body>

  {{ content }}
  <section id="startScreen" class="edgeScreen">
    <img class="splat" src="{{ site.github.baseurl }}/assets/images/homeSplat.png">
    <h1>Spot the Difference</h1>
    <h2 class="button startButton">START</h2>
    <h3>Tap the differences on the <b>RIGHT</b> picture. Hurry though! You only have a certain amount of time!</h3>
    <a class="button exitGameButton backButton" href="../">EXIT GAME</a>

  </section>

  <section id="background1">

    <img class="pushpin1" src="{{ site.github.baseurl }}/assets/images/pushpin.png">
    <img class="pushpin2" src="{{ site.github.baseurl }}/assets/images/pushpin.png">
    <img class="timer" src="{{ site.github.baseurl }}/assets/images/timerbackground.png">
    <h1>00</h1>
    <h2>00</h2>

    <div class="pictureContainer edited">
      <img src="#">
      <div class="clickableArea" style="height:220px; width:330px; left:1412px; top:640px;"></div>

    </div>
    <div class="pictureContainer original">
      <img src="#">
    </div>


    <h3>ITEMS</h3>

    <div id="scoreItems">

      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>

  </section>

  <section id="background2">

    <img class="pinLine" src="{{ site.github.baseurl }}/assets/images/pinLine.png">
    <img class="pin1" src="{{ site.github.baseurl }}/assets/images/pin1.png">
    <img class="pin2" src="{{ site.github.baseurl }}/assets/images/pin2.png">
    <img class="timer" src="{{ site.github.baseurl }}/assets/images/timerbackground.png">
    <h1>00</h1>
    <h2>20</h2>


    <div class="pictureContainer edited">
      <img src="#">
      <div class="clickableArea" style="height:220px; width:330px; left:1412px; top:640px;"></div>

    </div>
    <div class="pictureContainer original">
      <img src="#">
    </div>


    <h3>ITEMS</h3>

    <div id="scoreItems">
      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>

  </section>


  <section id="background3">

    <img class="timer" src="{{ site.github.baseurl }}/assets/images/timerbackground.png">
    <h1>00</h1>
    <h2>20</h2>


    <div class="pictureContainer edited">
      <img src="#">
      <div class="clickableArea" style="height:220px; width:330px; left:1412px; top:640px;"></div>

    </div>
    <div class="pictureContainer original">
      <img src="#">
    </div>

    <div class="rightBottom"></div>
    <div class="topLeft"></div>


    <h3>ITEMS</h3>

    <div id="scoreItems">

      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>

  </section>


  <section id="endWinScreen" class="edgeScreen">


    <img class="splat endSplat" src="{{ site.github.baseurl }}/assets/images/endGameSplat.png">
    <h1>SPOTTED.</h1>
    <h2 class="button newPhotosButton">NEW PHOTOS</h2>
    <a class="button exitGameButton" href="../">EXIT GAME</a>

  </section>

  <section id="endLoseScreen" class="edgeScreen">

    <img class="splat endSplat" src="{{ site.github.baseurl }}/assets/images/endGameSplat.png">
    <h1>nice try.</h1>
    <h2 class="button tryAgainButton">TRY AGAIN</h2>
    <a class="button exitGameButton" href="../">EXIT GAME</a>

  </section>


</body>

<script src="{{ site.github.baseurl }}/assets/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.github.baseurl }}/assets/js/jquery.runner-min.js"></script>
<script src="{{ site.github.baseurl }}/assets/js/global.js"></script>


</html>
